docker/*.zip
docker/*.tar.gz
docker/*.tar.xz

build
devel
src/loam_velodyne/build
src/loam_velodyne/utils/kitti2bag/bin
src/loam_velodyne/utils/kitti2bag/include
src/loam_velodyne/utils/kitti2bag/lib
src/loam_velodyne/utils/kitti2bag/lib64
src/loam_velodyne/utils/kitti2bag/pyvenv.cfg
src/loam_velodyne/utils/kitti2bag/share